/* ===================================================
  Sidebar Setup
=================================================== */
.dashboard-main {
    margin-left: 230px;
    width: calc(100% - 230px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all .35s ease;
}

.dashboard-content {
    flex: 1;
    padding: 25px;
}


.dashboard-sidebar.hide+.dashboard-main {
    margin-left: 60px;
    width: calc(100% - 60px);
}

.dashboard-sidebar {
    width: 230px;
    height: 100vh;
    background: var(--bg-white, #ffffff);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all .35s ease;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    display: flex;
    flex-direction: column;
    
}

.dashboard-sidebar.hide {
    width: 60px;
}

.dashboard-footer {
    background: #fff;
    padding: 18px 25px;
    border-top: 1px solid #e2e8f0;
    text-align: center;
    color: #64748b;
}



/* ===================================================
  Side Bar Navigation Setup
=================================================== */

.app-sidebar-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px 25px;
    border-bottom: 1px solid  var(--line-color);
}
.app-sidebar-logo .logo-text{
    font-size: 20px;
    font-weight: 600;
    color: var(--bg-primary);
}
.app-sidebar-logo .logo-text h2{
    font-size: 20px;
    font-weight: 600;
    color: var(--bg-primary);
    padding: 0px;
    margin: 0px;
}


.app-sidebar-logo {
    padding: 15px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}



.dashboard-menu {
    list-style: none;
    margin: 0;
    padding: 10px 5px;
}

.side-menu {
    position: relative;
}

.dashboard-menu a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    text-decoration: none;
    color: var(--text-dark);
    border-radius: 8px;
    transition: 0.2s;
}


.side-menu:hover > a {
    background: var(--bg-light);
}
 .side-menu.active > a {
    background: var(--bg-light);
    color: var(--bg-primary ) !important;

}

.menu-icon {
    font-size: 20px;
    min-width: 24px;
    text-align: center;
}


.menu-text {
    transition: 0.3s;
}


.dashboard-sidebar.hide .menu-text {
    opacity: 0;
    visibility: hidden;
    width: 0;
    overflow: hidden;
    display: none   ;
}


.dashboard-sidebar.hide .dashboard-menu > li > a {
    justify-content: center;
}


.side-sub-menu {
    list-style: none;
    padding-left: 40px;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, margin 0.3s ease;
    background-color: var(--bg-light);
}


.dashboard-sidebar:not(.hide) .side-menu.active > .side-sub-menu {
    max-height: 500px;
    margin-top: 5px;
}


.side-sub-menu a {
    font-size: 14px;
    color: #666;
    padding: 8px 12px;
}


.dashboard-sidebar.hide .side-menu .side-sub-menu {
    position: absolute;
    left: 54px;
    top: 0;
    background: var(--bg-white);
    box-shadow: 10px 5px 15px rgba(0,0,0,0.1);
    border-radius: 0 8px 8px 0;
    padding: 10px 0;
    min-width: 200px;
    z-index: 1001;
    border-left: 1px solid #eee;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-10px);
    transition: opacity 0.25s ease, transform 0.25s ease, visibility 0.25s !important;


    max-height: none !important;
    overflow: visible !important;
    padding-left: 0 !important;
    margin: 0 !important;
}


.dashboard-sidebar.hide .side-menu.open-popup > .side-sub-menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}


.dashboard-sidebar.hide .side-menu .side-sub-menu a {
    padding: 10px 20px;
    display: block;
    white-space: nowrap;
}


.dashboard-toggle-btn {
    width: 100%;
    padding: 12px;
    border: none;
    cursor: pointer;
    background: transparent;
    color: var(--bg-primary);
    font-size: 18px;
    border-top: 1px solid #e2e8f0;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.2s;
}

.dashboard-toggle-btn:hover {
    background: #f1f5f9;
}

@media(max-width:768px) {

    .dashboard-sidebar {
        transform: translateX(-100%);
    }

    .dashboard-sidebar.mobile-show {
        transform: translateX(0);
    }

    .dashboard-main {
        margin-left: 0;
        width: 100%;
    }

    .dashboard-sidebar.hide+.dashboard-main {
        margin-left: 0;
        width: 100%;
    }

    .dashboard-content {
        padding: 18px;
    }

}

@media(max-width:576px) {

    .header-right {
        gap: 10px;
    }

    .dashboard-grid {
        grid-template-columns: 1fr;
    }

    .page-header h1 {
        font-size: 22px;
    }

}